# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY= 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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=5bad63e4b4a06cd7fc94fee3a469dc10

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
